.mainContainer {
  background-color: #eef4f7;
  padding: 10px;
  min-height: 100vw;
}

.mainHeading {
  color: #334155;
  text-decoration: underline;
  text-decoration-color: #52bbf0;
  text-underline-position: under;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.list {
  list-style-type: none;
  width: 40%;
}

img {
  width: 100%;
}

.heading {
  font-size: 1rem;
}

.div {
  display: flex;
  justify-content: center;
}
